kfserving==0.5.1
aitextgen
tensorflow

# MIT-licensed version of a kserve transitive dependency (necessary for kfserving/kserve < 0.10.1)
-e git+https://github.com/AleksTk/table-logger@3cab68c59062ce4d9cb3b667f64e83a23789bf63#egg=table-logger
