-f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
jax[cuda]==0.3.15 
dalle-mini==0.1.1
git+https://github.com/patil-suraj/vqgan-jax.git@10ef240
jupyter==1.0.0
jupyterlab==3.4.4
ipywidgets==7.7.1
tqdm==4.64.0
kserve==0.9.0
msrest==0.7.1

ipython>=7.16.3 # not directly required, pinned by Snyk to avoid a vulnerability
jinja2>=3.1.3 # not directly required, pinned by Snyk to avoid a vulnerability
jupyter-core>=4.11.2 # not directly required, pinned by Snyk to avoid a vulnerability
mistune>=2.0.3 # not directly required, pinned by Snyk to avoid a vulnerability
nbconvert>=6.3.0b0 # not directly required, pinned by Snyk to avoid a vulnerability
notebook>=6.4.12 # not directly required, pinned by Snyk to avoid a vulnerability
prompt-toolkit>=3.0.13 # not directly required, pinned by Snyk to avoid a vulnerability
pygments>=2.15.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
