-f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
jax[cuda]==0.3.15 
dalle-mini==0.1.1
git+https://github.com/patil-suraj/vqgan-jax.git@10ef240
jupyter==1.0.0
jupyterlab==3.4.4
ipywidgets==7.7.1
tqdm==4.64.0
kserve==0.9.0
msrest==0.7.1

transformers>=4.48.0 # not directly required, pinned by Snyk to avoid a vulnerability
