-f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
jax[cuda]==0.3.15 
dalle-mini==0.1.1
git+https://github.com/patil-suraj/vqgan-jax.git@10ef240
jupyter
jupyterlab
ipywidgets
tqdm
kserve==0.8.0.2
msrest
huggingface_hub 