torch
torchvision
torchaudio
--extra-index-url https://download.pytorch.org/whl/cu116
transformers==4.21.3
accelerate==0.12.0
deepspeed>=0.7.3
flask==2.2.2 
flask_api==3.0.post1
gunicorn==20.1.0
pydantic==1.10.2
huggingface_hub>=0.9.0 
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
