Brotli==1.0.9
certifi==2022.5.18.1
gevent==21.12.0
geventhttpclient==1.5.3
greenlet==1.1.2
grpcio==1.41.0
numpy==1.22.4
protobuf==3.20.1
python-rapidjson==1.6
regex==2022.4.24
six==1.16.0
tritonclient==2.22.0
zope.event==4.5.0
zope.interface==5.4.0