git+https://github.com/huggingface/diffusers.git@6c56f05097f7d3c561f02dc1c27e3dd7e9f88ce1#egg=diffusers
numpy==1.23.4
wandb==0.13.4
torch
torchvision
transformers>=4.21.0
huggingface-hub>=0.10.0
Pillow==9.2.0
tqdm==4.64.1
ftfy==6.1.1
bitsandbytes
pynvml~=11.4.1
psutil~=5.9.0
